 <div> 
 <div class="bgimg"> 
 <div class="back">
    <nav class="navbar navbar-expand-sm navbar-light abc">
      <div class="">
        <a class="navbar-brand" href="#" routerLink="/dashboard">
          <img src="../assets/images/logo.png" alt="" />
        </a>
      </div> 

 <nav class="navbar navbar-expand-lg navbar-light bg-transparent set-nav">
        <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link font-color propertymanagement" href="#" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-color propertymanagement" href="#" routerLink="/propertymanagement">Property
                Management</a>
            </li> 
 <li class="nav-item">
              <a class="nav-link font-color tenants" href="#" routerLink="/tenants">Tenants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-color maintenance" href="#" routerLink="maintanence">Maintanence</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-color financial" href="#" routerLink="financial">Financial</a>
            </li> 

<!-- <div class="text-center"> 
 <li class="nav-item img-ico">
              <a class="nav-link font-color" href="#"><img src="../assets/images/Vector.svg" alt="" srcset=""></a>
            </li>
            <li class="nav-item img-ico">
              <a class="nav-link font-color" href="#"><img src="../assets/images/Vector (1).svg" alt="" srcset=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-color" href="#"><img src="../assets/images/Group.svg" alt="" srcset=""></a>
            </li> 
 </div> -->
</ul>
        </div>
      </nav>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>




