<!-- cards logic -->
<div class="container-fluid">
  <div class="header">
    <h1 class="tenantswrd">Tenants</h1>
  </div>
  <div class="row prop">
    <div class="col-2 mt-5">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/maintenance-2.png" alt="Card image cap"/>
        <div class="card-body">
          <p class="card-title cardsdetails head">Guy Hawkins</p>

          <p class="cardsdetails head">Contact:</p>

          <p class="carddetails2">
            tanya.hill@example.com
          </p>
          <p class="carddetails2"> (225) 555-0118</p>

          <!-- <p class="cardsdetails head">Current Status:</p>

          <p class="clrsts">Occupied</p> -->

          <p class="cardsdetails head">Lease Details:</p>

          <p class="carddetails2">August 9, 2023 - August 8, 2025</p>

          <p class="cardsdetails head">OutStanding Payment</p>

          <p class="carddetails2">August 9, 2023 - August 8, 2025</p>
        </div>
      </div>
    </div>
    <div class="col-2 mt-5">
      <div class="card">
        <div class="card">
          <img class="card-img-top tenantpic" src="../../assets/images/maintenance-1.png" alt="Card image cap" />
          <div class="card-body">
            <!-- 2nd card data -->
            <p class="card-title cardsdetails head">Guy Hawkins</p>

            <p class="cardsdetails head">Contact:</p>

            <p class="cardsdetails2">
              tanya.hill@example.com
              (225) 555-0118
            </p> 

            <!-- <p class="cardsdetails head">Current Status:</p>

            <p class="clrsts">Available</p> -->

            <p class="cardsdetails head">Lease Details:</p>

            <p class="cardsdetails2">August 9, 2023 - August 8, 2025</p>

            <p class="cardsdetails head">OutStanding Payment</p>

            <p class="cardsdetails2">August 9, 2023 - August 8, 2025</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 mt-5">
      <div class="card">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/maintenance-3.png" alt="Card image cap" />
          <div class="card-body">
            <!-- 3rd card data -->
            <p class="card-title cardsdetails head">Guy Hawkins</p>

            <p class="cardsdetails head">Contact:</p>

            <p class="cardsdetails2">
              tanya.hill@example.com
              (225) 555-0118
            </p>

            <!-- <p class="cardsdetails head">Current Status:</p>

            <p class="clrsts">Occupied</p> -->

            <p class="cardsdetails head">Lease Details:</p>

            <p class="cardsdetails2">August 9, 2023 - August 8, 2025</p>

            <p class="cardsdetails head">OutStanding Payment</p>

            <p class="cardsdetails2">August 9, 2023 - August 8, 2025</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 mt-5">
      <div class="card">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/maintenance-4.png" alt="Card image cap" />
          <div class="card-body">
            <p class="card-title cardsdetails head">Guy Hawkins</p>

            <p class="cardsdetails head">Contact:</p>

            <p class="cardsdetails2">
              tanya.hill@example.com
              (225) 555-0118
            </p>

            <!-- <p class="cardsdetails head">Current Status:</p>

            <p class="clrsts">Occupied</p> -->

            <p class="cardsdetails head">Lease Details:</p>

            <p class="cardsdetails2">August 9, 2023 - August 8, 2025</p>

            <p class="cardsdetails head">OutStanding Payment</p>

            <p class="cardsdetails2">August 9, 2023 - August 8, 2025</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 mt-5">
      <div class="card">
        <div class="card">
          <img class="card-img-top" src="../../assets/images/maintenance-5.png" alt="Card image cap" />
          <div class="card-body">
            <!-- 4th card data -->
            <p class="card-title cardsdetails head">Guy Hawkins</p>

            <p class="cardsdetails head">Contact:</p>

            <p class="cardsdetails2">
              tanya.hill@example.com
              (225) 555-0118
            </p>

            <!-- <p class="cardsdetails head">Current Status:</p>

            <p class="clrsts">Occupied</p> -->

            <p class="cardsdetails head">Lease Details:</p>

            <p class="cardsdetails2">August 9, 2023 - August 8, 2025</p>

            <p class="cardsdetails head">OutStanding Payment</p>

            <p class="cardsdetails2">August 9, 2023 - August 8, 2025</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>