<!-- <p>dashboard works!</p> -->
<div class="bgimg">
  <div class="container-fluid btext">
    <div class="row">
      <div class="col-6">
        <h1 class="text">Welcome back, Admin</h1>
        <span class="ctext">Simplify Property Management: Efficient, Reliable, and
          Hassle-free.;</span>
      </div>
      <div class="col-6 ">
        <h4 id="stext my-auto side date-d">Jun 01,2023 - Jun 05,2023</h4>
      </div>
    </div>
    <div class="hrow-tab">
      <div class="row-tab">
        <div class="col3">Total Income</div>
        <div class="col3">Outstanding payment</div>
        <div class="col3">No. of Properties</div>
        <div class="col3">Total no. of Tenants</div>
        <div class="col3">Maintenance Request</div>
      </div>
      <div class="row-tab1">
        <div class="col3">$-20,000</div>
        <div class="col3">$-5000</div>
        <div class="col3">20</div>
        <div class="col3">20</div>
        <div class="col3">10</div>
      </div>
    </div>

    <!-- card details code -->

    <div class="row">
      <div class="col-3 mt-5">
        <div class="card">
          <button type="submit">
            <img class="card-img-top" src="../../assets/images/dcard1.png" alt="Card image cap" />
          </button>
          <div class="card-body">
            <p class="card-title cardsdetails">Property Name</p>

            <!-- <p class="cardsdetails">Address:</p> -->

            <!-- <p class="carddetails2">
              4517 Washington Ave. Manchester, Kentucky 39495
            </p> -->

            <p class="cardsdetails">Current Status:</p>

            <p class="clrsts">Occupied</p>

            <!-- <p class="cardsdetails">Rent:</p> -->

            <!-- <p class="carddetails2">$1200/month</p> -->

            <!-- <p class="cardsdetails">Lease End Date:</p> -->

            <!-- <p class="carddetails2">May 12, 2019</p> -->
          </div>
        </div>
      </div>
      <div class="col-3 mt-5">
        <div class="card">
          <button type="submit">
            <img class="card-img-top" src="../../assets/images/dcard2.png" alt="Card image cap" />
          </button>
          <div class="card-body">
            <p class="card-title cardsdetails">Property Name</p>

            <!-- <p class="cardsdetails">Address:</p> -->

            <!-- <p class="carddetails2">
              4517 Washington Ave. Manchester, Kentucky 39495
            </p> -->

            <p class="cardsdetails">Current Status:</p>

            <p class="clrsts">Occupied</p>

            <!-- <p class="cardsdetails">Rent:</p> -->

            <!-- <p class="carddetails2">$1200/month</p> -->

            <!-- <p class="cardsdetails">Lease End Date:</p> -->

            <!-- <p class="carddetails2">May 12, 2019</p> -->
          </div>
        </div>
      </div>
      <div class="col-3 mt-5">
        <div class="card">
          <button type="submit">
            <img class="card-img-top" src="../../assets/images/dcard3.png" alt="Card image cap" />
          </button>
          <div class="card-body">
            <p class="card-title cardsdetails">Property Name</p>

            <!-- <p class="cardsdetails">Address:</p> -->

            <!-- <p class="carddetails2">
              4517 Washington Ave. Manchester, Kentucky 39495
            </p> -->

            <p class="cardsdetails">Current Status:</p>

            <p class="clrsts">Occupied</p>

            <!-- <p class="cardsdetails">Rent:</p> -->

            <!-- <p class="carddetails2">$1200/month</p> -->

            <!-- <p class="cardsdetails">Lease End Date:</p> -->

            <!-- <p class="carddetails2">May 12, 2019</p> -->
          </div>
        </div>
      </div>
      <div class="col-3 mt-5">
        <div class="card">
          <button type="submit">
            <img class="card-img-top" src="../../assets/images/dcard4.png" alt="Card image cap" />
          </button>
          <div class="card-body">
            <p class="card-title cardsdetails">Property Name</p>

            <!-- <p class="cardsdetails">Address:</p> -->

            <!-- <p class="carddetails2">
              4517 Washington Ave. Manchester, Kentucky 39495
            </p> -->

            <p class="cardsdetails">Current Status:</p>

            <p class="clrsts">Occupied</p>

            <!-- <p class="cardsdetails">Rent:</p> -->

            <!-- <p class="carddetails2">$1200/month</p> -->

            <!-- <p class="cardsdetails">Lease End Date:</p> -->

            <!-- <p class="carddetails2">May 12, 2019</p> -->
          </div>
        </div>
      </div>

    </div>

    <!-- card details code -->
  </div>

  <!--  -->
</div>