<div class="container ctrcls">
  <p>property-dialog works!</p>

  <div>
    <img style="width: 100%; margin-bottom: 30px" src="../../assets/images/card1.png" alt="" />

    <p style="font-size: 25px; padding-bottom: 20px">Property Name</p>

    <p style="font-size: 20px; padding-bottom: 20px">Address:</p>

    <p style="font-size: 15px; padding-bottom: 20px">
      4517 Washington Ave. Manchester, Kentucky 39495
    </p>

    <p style="font-size: 20px; padding-bottom: 20px">Current Status:</p>

    <p style="font-size: 15px; padding-bottom: 20px">Occupied</p>

    <p style="font-size: 20px; padding-bottom: 20px">Rent:</p>

    <p style="font-size: 15px; padding-bottom: 20px">$1200/month</p>

    <p style="font-size: 20px; padding-bottom: 20px">Lease End Date:</p>

    <p style="font-size: 15px; padding-bottom: 20px">May 12, 2019</p>

    <p style="
        text-decoration: underline;
        color: red;
        font-size: 25px;
        padding-bottom: 20px;
      ">
      Remove this property
    </p>

    <button type="button" class="btn btn-primary">Close</button>
  </div>
</div>