<!-- cards logic -->

<div class="row prop">
  <div class="col-3 mt-5">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/maintenance-1.png" alt="Card image cap" />
      <div class="card-body">
        <p class="card-title cardsdetails">Cracked tile in the bathroom</p>
<!-- 
        <p class="cardsdetails">Address:</p>

        <p class="carddetails2">
          4517 Washington Ave. Manchester, Kentucky 39495
        </p> -->

        <p class="cardsdetails">Priority Level</p>

        <p class="clrsts">High</p>

        <p class="cardsdetails">Status:</p>

        <p class="carddetails2">Staff Assigned</p>

        <p class="cardsdetails">Staff Details:</p>

        <p class="carddetails2">Guy Hawkins</p>

        <!-- <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p> -->
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  <div class="col-3 mt-5">
    <div class="card">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/maintenance-2.png" alt="Card image cap" />
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <!-- <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

          <!-- 2nd card data -->
          <p class="card-title cardsdetails">Cracked tile in the bathroom</p>

          <!-- <p class="cardsdetails">Address:</p>

          <p class="cardsdetails2">
            4517 Washington Ave. Manchester, Kentucky 39495
          </p> -->

          <p class="cardsdetails">Priority Level</p>

          <p class="clrsts">High</p>

          <p class="cardsdetails">Status:</p>

          <p class="cardsdetails2">Staff Assigned</p>

          <p class="cardsdetails">Staff Details:</p>

          <p class="cardsdetails2">Guy Hawkins</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mt-5">
    <div class="card">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/maintenance-3.png" alt="Card image cap" />
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <!-- <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

          <!-- 3rd card data -->
          <p class="card-title cardsdetails">Cracked tile in the bathroom</p>

          <!-- <p class="cardsdetails">Address:</p>

          <p class="cardsdetails2">
            4517 Washington Ave. Manchester, Kentucky 39495
          </p> -->

          <p class="cardsdetails">Priority Level</p>

          <p class="clrsts">High</p>

          <p class="cardsdetails">Status:</p>

          <p class="cardsdetails2">Staff Assigned</p>

          <p class="cardsdetails">Staff Details:</p>

          <p class="cardsdetails2">Guy Hawkins</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mt-5">
    <div class="card">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/maintenance-4.png" alt="Card image cap" />
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a> -->

          <!-- 3rd card data -->
          <p class="card-title cardsdetails">Cracked tile in the bathroom</p>

          <!-- <p class="cardsdetails">Address:</p>

          <p class="cardsdetails2">
            4517 Washington Ave. Manchester, Kentucky 39495
          </p> -->

          <p class="cardsdetails">Priority Level</p>

          <p class="clrsts">High</p>

          <p class="cardsdetails">Status:</p>

          <p class="cardsdetails2">Staff Assigned</p>

          <p class="cardsdetails">Staff Details:</p>

          <p class="cardsdetails2">Guy Hawkins</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mt-5">
    <div class="card">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/maintenance-5.png" alt="Card image cap" />
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a> -->

          <!-- 4th card data -->
          <p class="card-title cardsdetails"><strong>Cracked tile in the bathroom</strong></p>

          <!-- <p class="cardsdetails">Address:</p>

          <p class="cardsdetails2">
            4517 Washington Ave. Manchester, Kentucky 39495
          </p> -->

          <p class="cardsdetails">Priority Level</p>

          <p class="clrsts">High</p>

          <p class="cardsdetails">Status:</p>

          <p class="cardsdetails2">Staff Assigned</p>

          <p class="cardsdetails">Staff Details:</p>

          <p class="cardsdetails2">Guy Hawkins</p>
        </div>
      </div>
    </div>
  </div>


</div>